<nav>
    <div class="Logo-Background">
                    <img id="Logo" src="../img/logo.png">
                </div>
    <ul>
        <li id="bt-mobile-menu">
        <!-- HTML para colocar os ícones do FA -->
            <a href="javascript:void(0);" class="icon" onclick="toggleMobileMenu()">
                <i class="fa fa-bars"></i>
            </a>
            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-action="Login" asp-controller="Cliente">Login</a></li>
            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")#Quemsomosnós'>Quem Somos</a></li>
            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")#Sobre'>Sobre</a></li>
            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-action="Index" asp-controller="Cadastro">Cadastro</a></li>
            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")#Destaques'>Destaques</a></li>
            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")#Local'>Local</a></li>
            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-action="Index" asp-controller="Aluguel">Aluguel</a></li>
            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")#RedesSociais'>Redes Sociais</a></li>
            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-action="index" asp-controller="Galeria">Galeria</a></li>
    </ul>
</nav>